<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/angular2-logo.png" alt="" />
      </div>
      Flight42
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="/" data-tid="link-home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a routerLink="/flights" data-tid="link-flights">
        <i class="ti-arrow-top-right"></i>
        <p>All Flights</p>
      </a>
    </li>

    <li>
      <a routerLink="/flight-search" data-tid="link-flight-search">
        <i class="ti-search"></i>
        <p>Search Flights</p>
      </a>
    </li>
  </ul>
</div>
