<div class="card">
  <div class="header">
    <h2 class="title">Search Flights</h2>
  </div>
  <div class="content" data-tid="content">
    <form [formGroup]="searchFlightsFormGroup">
      <div class="form-group">
        <label>From:</label>
        <input formControlName="from" class="form-control" data-tid="from" />
      </div>
      <div class="form-group">
        <label>To:</label>
        <input formControlName="to" class="form-control" data-tid="to" />
      </div>

      <div *ngIf="flights$ | async as flights">
        {{ flights.length }} flights found!

        <div class="flight-cards">
          <flight-card
            *ngFor="let flight of flights"
            [flight]="flight"
          ></flight-card>
        </div>
      </div>
    </form>
  </div>
</div>
